<p id="notice"><%= notice %></p>

<div class="container">
  <div id="well" class="well">  
  <% @posts.each do |post| %>
        <h2><%= post.title %></h2>
        <p id="author"><%= @post.user.username %></p>
        <i class="fa fa-clock-o"><p>posted at <%= @post.created_at.strftime("%I:%M%p on %m/%d/%y")</p>
        <div class="well">
        <p><%= post.blog_entry[0...1000] %></p>
        <p id="more"><%= link_to 'READ MORE', post %></p>
      </div>
    <% end %>
  
</div>
</div>

