<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Listing Posts</h1>
  
  <% @posts.each do |post| %>
        <tr>
        <h1><%= post.title %></h1>
        <p><%= post.user.email %></p>
        <div class="well">
        <p><%= post.blog_entry %></p>
        <p><%= link_to 'Show', post %></p>
      </tr>
      </div>
    <% end %>
  
</div>

<br>

<%= link_to 'New Post', new_post_path %>
