<div class="container">
     <div id="well" class="well">

<p id="notice"><%= notice %></p>

<div class="well">
  <p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.user.email %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @post.blog_entry.html_safe %>
</p>

<% if current_user.id == @post.user_id %>
<p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', edit_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

</div>

<p>
	<%= render 'comments/form' %>
</p>

<p>
	<% @post.comments.each do |comment| %>
  <div class="well">
		<%= comment.user.email %> said... 
		<%= comment.comment_entry %>
  </div>
	<% end %>
</p>

<p>
<%= link_to 'Back', posts_path %>
</p>

      </div>
</div>

